@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,600,700|Lato:100,300,400,500,600,700|Ubuntu:100,300,400,500,600,700|Raleway:100,300,400,500,600,700|Montserrat');
@font-face {
    font-family: "widolte";
    src: url("fonts/Widolte_Regular_demo.otf");
}
@font-face {
    font-family: "gotham-medium";
    src: url("fonts/GothamMedium_0.ttf");
}
@font-face {
    font-family: "gotham-book";
    src: url("fonts/GothamBook.ttf");
}
@font-face {
    font-family: "gotham-bold";
    src: url("fonts/GothamBold.ttf");
}
@font-face {
    font-family: "gotham-light";
    src: url("fonts/GothamLight.ttf");
}

/*NEW CSS START*/


.top-content {
    background-color: #091629;
    padding: 0px;
    height: 43px;
}

.top-content-text {
    color: white;
    padding-right: 5%;
    padding-top: 5px;
    font-family: "widolte";
    font-size: 18pt;
}

.navbar {
    background: -webkit-linear-gradient(top, rgb(28, 67, 121) 0%, rgb(15, 41, 75) 100%);
    background: -o-linear-gradient(top, rgb(28, 67, 121) 0%, rgb(15, 41, 75) 100%);
    background: -ms-linear-gradient(top, rgb(28, 67, 121) 0%, rgb(15, 41, 75) 100%);
    background: -moz-linear-gradient(top, rgb(28, 67, 121) 0%, rgb(15, 41, 75) 100%);
    background: linear-gradient(to bottom, rgb(28, 67, 121) 0%, rgb(15, 41, 75) 100%);

}

.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    height: -webkit-fill-available;
}

.navbar-header {
    margin-right: 20px !important;
    margin-left: 75px !important;
}

ul.nav.navbar-nav {
    font-family: "gotham-medium";
    font-size: x-large;
}


.main-header {
    position: relative;
    max-height: 60px;
    z-index: 1030;
}

.navbar-brand {
    padding: 0 !important;

}

.user-info-holder {
    margin-right: 5% !important;
}


.main-header .navbar .nav li .user-image {
    margin-right: 10px;
    width: 45px !important;
    /* border-radius: 25px !important; */
}

.main-header .navbar .nav li > a, .main-header .navbar .nav li > a, .main-header .navbar .nav li.dropdown.open > a.dropdown-toggle {
    padding-bottom: 10px;
}


.main-header .navbar {
    -webkit-transition: margin-left .3s ease-in-out;
    -o-transition: margin-left .3s ease-in-out;
    transition: margin-left .3s ease-in-out;
    margin-bottom: 0;
    margin-left: 230px;
    border: none;
    min-height: 50px;
    border-radius: 0;
    max-height: 110px;
}

.skin-blue .main-header .navbar .nav>li>a:hover, .skin-blue .main-header .navbar .nav>li>a:active, .skin-blue .main-header .navbar .nav>li>a:focus, .skin-blue .main-header .navbar .nav .open>a, .skin-blue .main-header .navbar .nav .open>a:hover, .skin-blue .main-header .navbar .nav .open>a:focus, .skin-blue .main-header .navbar .nav>.active>a {
    color: white;
    background: none;
    border-radius: 0px;


}
.skin-blue .main-header .navbar .nav>li>a:hover, .skin-blue .main-header .navbar .nav>li>a:active, .skin-blue .main-header .navbar .nav>li>a:focus, .skin-blue .main-header .navbar .nav .open>a, .skin-blue .main-header .navbar .nav .open>a:hover, .skin-blue .main-header .navbar .nav .open>a:focus, .skin-blue .main-header .navbar .nav>.active>a {
    color: white;
    background: none;
    border-radius: 0px;
    background: -webkit-linear-gradient(top,#fb9304 0%, #fb6804 100%) !important;
    background: -o-linear-gradient(top,#fb9304 0%, #fb6804 100%) !important;
    background: -ms-linear-gradient(top, #fb9304 0%, #fb6804 100%) !important;
    background: -moz-linear-gradient(top,  #fb9304 0%, #fb6804 100%) !important;
    background: linear-gradient(to bottom, #fb9304 0%, #fb6804 100%) !important;

}

ul.nav.navbar-nav {
    font-family: "gotham-medium";
    font-size: x-large;
    margin-top: 8px;
}

ul.nav.navbar-nav.pull-right.user-info-holder {
    margin-top: 0px;
}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side, html {
    background-color: #091629;
    overflow: hidden !important;
}


.app-title,
.app-developer,
.app-description{
    font-family: "gotham-medium";
}

.app-img {
    width: 95px;
    height: 95px;
}

.panel-body p {
    font-size: 14px;
}

.cards {
    height: 352px !important;
    text-align: left;
}

.app-img {
    width: 165px;
    height: 165px;
    padding: 0px;
}


.app-title {
    font-size: 12pt;
}


.app-description, .app-developer {
    font-size: 8pt !important;
}

.panel.cards {
    width: 226px !important;
    height: 300px !important;
    margin-right: 10px;
    -webkit-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.1);
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.1);
}

.main-content-holder {
    margin-left: 190px;
    margin-top: 10px;
}
.panel-add{
    background: url("../../images/WEB/add.png") no-repeat 50% 50%;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    left: 0;
    right: 0;
    position: absolute;

    background-color: unset !important;
    border: 1px solid transparent !important;;
    border-radius: 0px !important;;
    -webkit-box-shadow: unset !important;;
    box-shadow: unset !important;
    -webkit-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.1);
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.1);
}

.skin-blue .main-header .navbar .nav>li>a {
    color: #fff;
    margin-left: 12px;
    margin-right: 40px;
}

.container-fluid{
    background: #05056d;
}


footer.main-footer {
    margin-left: 0;
    bottom: 0 !important;
    margin-bottom: 0;
    position: fixed;
}
footer.main-footer {
    bottom: 0px !important;
    min-height: 50px;
    margin-top: auto;
    position: relative;
    width: 100%;
    z-index: 99;
}

.main-footer {
    border-top: none;
}



.footer1 {
    margin-left: 10%;
    margin-top: 7px;
}

.btn-user-action{
border-radius: 0px !important;
       background: -webkit-linear-gradient(top,#326bb7 0%, #1c4378 100%) !important;
       background: -o-linear-gradient(top,#326bb7 0%, #1c4378 100%) !important;
       background: -ms-linear-gradient(top, #326bb7 0%, #1c4378 100%) !important;
       background: -moz-linear-gradient(top,  #326bb7 0%, #1c4378 100%) !important;
       background: linear-gradient(to bottom, #326bb7 0%, #1c4378 100%) !important;
       width:200px !important;
    margin-left: 10px  ;
    margin-right: 0px !important;
    margin-top:8px;

}


.btn-user-action:active, .btn-user-action:hover, a.btn.btn-user-action.btn-primary.active
{  color: white;
    background: #e95824 !important;
    border-radius: 0px;
    border: #e95824;
}


.modal-header{
    background-color: #091629;
    text-align: center;
    height:50px;
    font-family: widolte;
    padding: 0px;
}


.header-img{
    width: 40px;
    margin-top: -15px !important;
}
.header-label{
    color:white;
    font-size: 16pt;
}


.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    max-width: 335px;
    border-radius: 0px !important;
}

.btn-modal{
    border-radius: 0px !important;
    background-color: #1f4e92 !important;
}

.modal-input-text{
border-radius: 0px !important;
}



.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.modal-input-text::placeholder {
    color: #1f4e92 !important;
    font-family: gotham-book;
    font-style: italic;
}


select:invalid {
    color: #1f4e92 !important;
    font-family: gotham-book !important;
    font-style: italic !important;
}

select:invalid { color: gray; }
.modal-cards{
    width: 298px !important;
    height: 322px !important;
    margin-right: 10px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, .3) !important;
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, .3 ) !important;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .3) !important;
}

.close{
    font-family: "widolte" !important;
    color: white; !important;

}

button.close {
    color: white;
    opacity: 1;
    font-family: widolte;
    text-transform: uppercase;
    /* font-size: 35px; */
}

.btn-add-application{
    background-color: #04142a !important;
}

.links{
    font-family: gotham-book;

}

html{
    font-family: gotham-book;
}

li.dropdown.pull-right.open{
    background: -webkit-linear-gradient(top,#fb9304 0%, #fb6804 100%) !important;
    background: -o-linear-gradient(top,#fb9304 0%, #fb6804 100%) !important;
    background: -ms-linear-gradient(top, #fb9304 0%, #fb6804 100%) !important;
    background: -moz-linear-gradient(top,  #fb9304 0%, #fb6804 100%) !important;
    background: linear-gradient(to bottom, #fb9304 0%, #fb6804 100%) !important;
}
ul.dropdown-menu {
    background: #fb6b04;
    width: 327px;
    margin-left: 12px;



}


.dropdown-menu>li>a {
    color: white !important;
    font-family: gotham-medium !important;
font-size: large;

}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #262626 !important;
    text-decoration: none;
    background-color: #f5f5f5;
    font-family: gotham-medium;
}

.navbar-collapse.in {
    overflow-y: unset !important;
}
.div-content{
    height: 100%;
    background: #efeeee;
}
.sidebar-holder, body{
    background: #091629;
}
body, html{
    background: #091629;

}

.account-header{
    font-family: gotham-book;
    font-weight:  bold;
    font-size: 15px;

}

img.sidebar-icon {
    width: 25px;
    margin-right: 23px;
}

html{
    font-family: "gotham-book";
}

p.lead {
    background: #E1E1E1;
    width: 202px;
    border-radius: 2px;
    padding-left: 10px;
    color: #33302B;
}

.form-control {
    height: 50px;
}


form.form-inline {
    margin-left: 5%;
}

.form-input{
    margin-left: 5%;
}

.form-input {
    margin-left: 30px;
    width: 500px !important;
}

.title-header{
    margin-left: 25px;
    font-weight: bold;
    font-family: gotham-medium;
    color: #04142a;
}

img.img-avatar {
    width: 77px;
}

a.right.carousel-control,a.left.carousel-control {
    display: none;
}